body {
    background-color: FFFBF2;
    font-family: "Marck Script", serif;
    text-align: center;
    color: 6C6C6C;
    background: rgb(255, 29, 210);

    background: radial-gradient(circle, rgba(255, 29, 210, 1) 6%, rgba(255, 174, 247, 1) 14%, rgba(197, 29, 255, 1) 18%);
    background-image: radial-gradient(center center, circle cover, #ffeda3, transparent 30%);
    transition: 50s;
}

body:hover {
    background: rgb(255, 29, 210);
    background: radial-gradient(circle, rgba(255, 29, 210, 1) 6%, rgba(255, 174, 247, 1) 19%, rgba(197, 29, 255, 1) 33%);
}

h1 {}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: FFE1DC;
    width: 220px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 15px 15px 0 rgba(187, 187, 187, 2);
    transition: 0.3s;
    position: relative;

}

.card:hover {
    box-shadow: 5px 20px 20px 0 rgba(139, 139, 139, 0.8);
}

.card-image {
    display: flex;
    height: 170px;
    background-color: white;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.java {
    background-image: url(assets/java-logo.png);

    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.javascript {
    background-image: url(assets/javascript-logo.png);
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.python {
    background-image: url(assets/python-logo.png);
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container h2 {
    text-align: center;
    background-color: DCAAF8;
    color: white;
    margin-top: -8%;
}

.card button {
    width: 100%;
    border-radius: 0 0 15px 15px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: FFA3C9;
    color: FFFEF5;
    transition: .25s;
    border: none;
    height: 10%;

}

.card button:hover {
    background-color: FFFEF5;
    color: FFA3C9;
    text-shadow: 1px;

}